# Terrafrom
*.iml
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock*

# JetBrains Idea
.idea/

# Workmail Lambda binaries
workmail-lambda/workmail
workmail-lambda/workmail-lambda
workmail-lambda/*.zip
